html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

html{height:100%}

body{
    line-height:1;
    min-width: 1020px;
}

/*ol,ul{list-style:none}*/

blockquote,q{quotes:none}

blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}

table{border-collapse:collapse;border-spacing:0}


body{
    
}

.header{
    background-image: url(../img/layer_20_222.png);
    background-size: 100%;
    width: 100%;
    height: 566px;
}
.container{
    width: 1020px;
    margin: 0 auto;
}




.header__main{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.header__logo{
    display: flex;
    margin-top: 28px;
}

.logo__big{
    text-align:center;
    font-family: 'Lucida Sans';
    font-size: 41.1px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    text-shadow: 0px 2px 0px rgba(0,0,0,0.41);
    color: #ffffff;
    margin-left: 8px;
    position: relative;
    top: 18px;
}
.logo__small{
    opacity: 0.76;
    font-family: 'Lao UI';
    font-size: 13.1px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #ffffff;
    position: relative;
    top: 45px;
}
.header__menu{
    margin-top: 30px;
}
.header__menu menu{
    list-style: none;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/layers_menu.png);
    width: 453px;
    height: 41px;
    font-family: 'Segoe WP';
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #9b7d08;
}
.menu__item1{
   
    margin-top: 10px;
    padding-left: 30px;
    background-image: url(../img/shape_5_103.png);
    background-repeat: no-repeat;  
}
.menu__item2{
    margin-top: 10px;
    padding-left: 30px;
    background-image: url(../img/shape_6_105.png);
    background-repeat: no-repeat;
}
.menu__item3{
    margin-top: 10px;
    padding-left: 30px;
    background-image: url(../img/shape_7_107.png);
    background-repeat: no-repeat;
}
.header__content{
    display: flex;
    align-items: center;
}
.content__video{
    margin-top: 50px;
}
.content__text{
    text-align: center;
    font-family: 'Asap';
    font-size: 63.1px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #f5c506;
    margin-left: 33px;
}
.text__item{
    color: #ffffff;
}
.content__video video{
    width: 549px;
height: 327px;
opacity: 0.1;
}



.info{
 margin: 61px 0 38px 0;
 border-color: #f6f6f6;
}
.info__row{
    display: flex;
    justify-content: space-around;

}
.item__img{
    width: 91px;
    height: 95px;
    margin-left: 25px;
}
.info__item{
    text-align: center;
}
.item__text{
    margin-top: 10px;
    font-family: 'Segoe UI';
    font-size: 27.1px;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #000000;
}


.content{
    background-image: url(../img/layers2.png);
    height: 509px;
    padding-top:42px;
}
.content__header{
    font-family: 'PT Sans';
    font-size: 37.1px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-bottom:40px;
}
.content__social{
    display: flex;

}
.social__text{
    background-color: #ec9e03;
    width: 341px;
    height: 233px;
    
}
.social__text p{
    font-family: 'Segoe WP';
    font-size: 29.1px;
    line-height: 38px;
    font-weight: 300;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin: 25px 38px 34px 31px;
   
}
.social__video{
  margin: 0 -79px 0 -34px ;
}
.social__network{
    background-color: #ec9e03;
    width: 329px;
    height: 233px;
    
}
.social__network img{
   margin: 59px 83px 41px 83px;
}
.content__date{
    background-color: #ddb101;
    width: 113px;
    height: 86px;
    text-align: center;
}
.date__number{
    font-family: 'Segoe UI';
    font-size: 51.1px;
    line-height: 38px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #ffffff;
    position: relative;
    top: 12px;
}
.date__month{
    font-family: 'Segoe UI';
    font-size: 21.1px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #b26529;
    position: relative;
    top: 12px;
}


.advantage{
    background-image: url(../img/layer_32_344.png); 
    height: 499px;  
    padding-top: 48px;
}
.advantage_title{
    font-family: 'PT Sans';
    font-size: 43.1px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #f5c506;
    text-align: center;
}
.advantage__content{
    display: flex;
}
.advantage__technique{
    display: flex;
    
}
.technique__free{
    width: 116px;
    height: 116px;
    border-radius: 50%;
    background-color: #f5c506;
    text-align: center;
    position: relative;
    top:75px;
    right: 20px;
}
.technique__free p{
    font-family: 'PT Sans Narrow';
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #ffffff;
    position: relative;
    top: 50px;
}
.advantage__technique img{
    margin: 0 10px;
}
.advantage__list{
    margin-left: 80px;
    margin-top: 165px;
}
.advantage__list li{
    color:#f5c506;
    margin-top: 13px;
}
.advantage__list span{
    font-family: 'Open Sans';
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #a9a9a7;
}
.img2{
    margin-top: 158px;
}
.img3{
    margin-top: 269px;
}


.footer{
    background-color: #4c4c4c;
    display: flex;
    justify-content: space-between;
}
.footer__content{
    display: flex;
    justify-content: space-between;
}
.footer__logo{
    display: flex;
    margin: 6px 0px 4px 0px;
}
.footer__flow{

}
.footer__big{
    font-family: 'Lucida Sans';
    font-size: 29.1px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    text-shadow: 0px 2px 0px rgba(0,0,0,0.41);
    color: #ffffff;
    margin-left:10px ;
    margin-top: 20px;
}
.footer__text{
    font-family: 'Open Sans';
    font-size: 17.1px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin: 30px 0px 0px 0px;
}